[Unit]
Description=gourdd socket

[Socket]
ListenStream=/run/gourd/gourdd.sock
SocketUser=gourd
SocketGroup=gourd
SocketMode=0660
NoDelay=true

[Install]
WantedBy=sockets.target