[Unit]
Description=gourdd service
Requires=gourdd.socket

[Service]
ExecStart=/usr/local/bin/gourdd
NonBlocking=true

[Install]
Alias=gourd.service
WantedBy=multi-user.target